a{
   font-size: 20px;
}
.crimson-background {
 background-color: crimson;
 color: white;
}
.crimson {
 color: crimson;
}
.btn-xl {
 color: white;
 background-color: crimson;
 border-color: crimson;
 font-family: "Lato";
 text-transform: uppercase;
 font-weight: 700;
 border-radius: 3px;
 font-size: 18px;
 padding: 20px 40px;
}
.shadow {
 box-shadow: 1px 1px 10px grey;
}
.btn-x1:hover,
.btn-x1:focus,
.btn-x1:active,
.btn-x1.active {
 color: white;
 background-color: #cc0033;
 border-color: #cc0033;
}
.greybackground {
 background-color: #616161;
}
.background-2 {
 background-color: crimson;
 color: white;
}
.crimson2 {
 color: crimson;
}
ul {
 list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
 background-color: #333;
}
li {
 float: left;
}
li:last-child { float:right; }
li a {
 display: block;
 color: white;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
}
li a:hover {
 background-color: #111;
}
.active {
 background-color: crimson;
}
